      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgb(255,255,255);
      }
      h3 {
        text-align: center;
        padding: 1rem;
      }
      p {
        width:fit-content;
        margin: 0 auto;
        padding: 1rem;
        text-align: left;
        font-size: 16pt;
        line-height:140%;
        font-style: 'Calibri';
      }
      @media (max-width: 700px) {
        p {
          width: 90%;
        }
      }
      div{
        max-width: 21cm;
        margin: 0 auto;
        text-align: center;
      }
    
      #text-toggle-button {
      display: block;
      margin: 0 auto;
      padding: 1rem;
      text-align: center;
      margin-bottom: 1rem;
      }
      #text-size-form {
        display: flex;
        align-items:baseline;
        padding: 0 rem;
        margin: 5%;
      }
      #text-size-input {
        display: block;
        margin: 0 auto;
        width: 60%;
      }
      #minus,
      #plus {
        font-size: 20pt;
        display: flex;
        justify-content: center;
        align-items:normal;
      
      }
          
      
      
      
    
    